/*Marcos Paulo*/
















































/*Ramon*/

body{

    background-color: beige;
}

.flex{
    color: white;
    text-align: center;
    align-items: center;

}

.menu{
    margin: 30px;
    background-color: black;
}

.or{
   
    padding: 70px;
    margin: 80px;
    background-color: orange;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;

}


