/*Marcos Paulo*/
#exemplo_block {
    display: block;
}

#exemplo_inline {
    display: inline;
}

#exemplo_inline_block {
    display: inline-block;
}
#exemplo_flex {
    display: flex;
}
#exemplo_static {
    position: static;
}
#exemplo_relative {
    position: relative;
}
#exemplo_fixed {
    position: fixed;
}
#exemplo_sticky {
    position: sticky;
}
header {
    margin: 0;
}


.valores {
    border: 5px solid;
    border-color: black;
    margin: 3px;
    border-radius: 20px;
    padding: 5px;
    background-color:beige;
    text-align: center;
}
h2 {
    text-align: center;
}











/*Ramon*/

body{

    background-color: beige;
    margin: 0;
}

.flex{
    
    text-align: center;
    align-items: center;

}

.menu{
    margin: 30px;
    background-color:rgb(199, 176, 147);
    border-radius: 25px;
    
}

.or{
   
    padding: 70px;
    margin: 80px;
    background-color:burlywood;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;

}


