/*Marcos Paulo*/
















































/*Ramon*/

body{

    background-color: beige;
}

.flex{
    color: white;
    text-align: center;
    align-items: center;

}

.menu{
    
    background-color: black;
}
